body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

body {
    background-image: url(https://i.pinimg.com/originals/3b/8f/af/3b8faf34a9cf7bdac48a73d54414f7c2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color:black;
    font-family: 'Cinzel', serif;
    font-weight: 200;
    flex-direction: column;
    color: #ff0000;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    letter-spacing: 2px;
}

#flex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
    align-content: center;
    justify-content: flex-end;
}

h1 {
    flex-grow: 1;
    font-size: 4rem;
    text-align: center;
}

#health {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
}

p {
    font-size: 2.2rem;
    font-weight: 200;
    align-content: center;
    background:rgba(0,0,0,0.7);
    text-align: center;
}

#p2 {
    align-self: center;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    flex: auto;
}

li{
    font-size: 1.8rem;
    margin-right: 20px;
}

button {
    font-size: 2rem;
    border-radius: 10%;
    box-shadow: 10px 5px 5px red;
    height: fit-content;
    background: grey;
    font-family: 'Cinzel', serif;
}